DEBUG=false
CELERY__APP_NAME=debugmate
CELERY__TASK_NAME=debugmate.debug_endpoint
CELERY__BROKER_URL=memory://
CELERY__REGION=eu-central-1
CELERY__VISIBILITY_TIMEOUT=3600
CELERY__POLLING_INTERVAL=5
CELERY__QUEUE_NAME=debugmate-tasks